@charset "utf-8";
/* CSS Document */
@font-face{
 font-family: JosefinSans;
 font-weight: 200;
	
src: url(../Fonts/Josefin_Sans/JosefinSans-Light.ttf);	
	
}

@font-face{
	font-family: JosefinSans;
	font-weight: 700 ;
	src: url(../Fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
}

.logo{
    background-color: black;
    margin-right: 45px;
}

.logo p{
    color: white;
    font-family: JosefinSans;
    font-size: 95px;
    float: right;
    margin-right: 155px;
    margin-top: 153px;
}


